.groups-container {
    width: 100%;
}

.groups-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    padding: 40px;
}

.add-group-container {
    height: 300px;
    width: 300px;
    margin-top: 2%;
}

.text-center {
    height: 100%;
    width: 100%;
}

.create-input {
    margin: 20px 10px;
}

.create-button {
    background-color: #4285f4;
    color:white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.125rem;
    height: 50px;
}