@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

.groups-container {
    margin-top: 60px;
}

.align-center {
    text-align: center;
}

.delete-text {
    color: red;
}

.task-card{
    width: 100%;
    
    /* margin-top: 5rem; */
}

h8 {
    font-size: .5rem;
}

.task-card-body{
    width:100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-flow: row; 
}

.task-card-left {
    display:flex;
    flex-flow: column;
    align-items: center;
}

.task-card-middle {
    display: flex;
    width: 54%;
    flex-direction: column;
    justify-content: center;
    
   
}

.task-card-right {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    /* flex-flow: row; */
}

.recurring-display {
    display: block;
    font-size:12px;
}

.recurring-hidden {
    display: none;
}


.task-card-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: "Montserrat", "sans-serif";
    background: #2A922D;
    color: white;
}

.task-card-footer-button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

@media only screen and (max-width: 767px){

    .group-card{
        margin-top: 60px;
    }
}

.group-user-image img {
    border-radius: 30px;
    margin: 3%;
}
.assigned-To{
    font-size: 15px;
}

.requested-By{
 font-size: 12px;
}
.task-Name{
    display:flex;
    font-size:21px;
   justify-content: center; 
}
.complete{
    font-size: 12px;
}
.task-Description{
    display:flex;
    font-size:12px;
   justify-content: center;
   margin-top: 5px;
}

.task-Description-Detail{
    display:flex;
    font-size:12px;
   justify-content: center;
   margin-top: 5px;
   
}
.assigned-To-Detail{
    font-size: 15px;
}

.requested-By-Detail{
 font-size: 12px;
}
.task-Name-Detail{
    display:flex;
    font-size:21px;
   justify-content: center; 
}
.complete-Detail{
    font-size: 12px;
}

.task-card-Detail{
    max-width: 100%;
    
    /* margin-top: 5rem; */
}

.task-card-body-Detail{
    width:100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-flow: row; 
}

.task-card-left-Detail {
    display:flex;
    flex-flow: column;
    align-items: center;
}

.task-card-middle-Detail {
    display: flex;
    width: 54%;
    flex-direction: column;
    justify-content: center;
    
   
}

.task-card-right-Detail {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    /* flex-flow: row; */
}
.complete-On-Detail{
    font-size: 12px;
}